name: Deploy to GitHub Pages
on:
  push:
  workflow_dispatch:

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Pwd
        run: pwd
      - name: List
        run: ls
      - name: Set up Node
        uses: actions/setup-node@master
        with:
          node-version: 24
          cache: 'npm'
      - name: Install dependencies
        run: npm install
      - name: Build
        run: npm run build
      - name: List
        run: ls ./.vitepress/dist
